body {
    font-family: Arial, sans-serif;
    background-color: #dcd8ba;
    margin: 0;
    padding: 0;
}

.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85vh;
}

.logo {
    padding: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    border: 1px solid #979797;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    margin-right: 50px;
}



.form-container {
    background-color: #fff;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
    padding: 85px;
    width: 10;
}

.form-container h1 {
    font-size: 60px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 1px;
}

.form-container form {
    display: flex;
    flex-direction: column;
}

.form-container label {
    margin-bottom: 5px;
}

.form-container input[type="text"],
.form-container input[type="password"] {
    padding: 8px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.form-container input[type="submit"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 3px;
    cursor: pointer;
}

.form-container input[type="submit"]:hover {
    background-color: #45a049;
}

.form-container a {
    color: #4CAF50;
    text-decoration: none;
    display: block;
    text-align: center;
    margin-top: 10px;
}

.form-container a:hover {
    text-decoration: underline;

}
